@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --fonte1: 'Roboto', sans-serif;
}
  
  html{
    scroll-behavior: smooth;
  }
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
}

  body {
    background-color: #ffffff;
  }
  
  /* ---------------------------------------Header--------------------------------- */

  header{
    width: 100%;
    justify-content: space-around;
    
}

div.contato{    
    background-color: #ed5e5e;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.span-header{
  width: 50vw;
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-left: 20vw;
  padding-left: 20vw;
}

span{
    justify-content: space-around;
}

.span-header a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

div.nav{
  width: 100%;
  height: 12vh;
  display: flex;
  margin-right: 10vw;
  justify-content: space-around;
  align-items: center;
  border-radius: 2rem;  
}

.imgHeader img{
    width: 8vw;
    margin-left: 5vw;
}

.ulHeader{
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 10vw;
}

.liHeader{
    text-align: center;
    width: 20vw;
    color: white;
    border-radius: 20px;
}

.liHeader a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 30vw;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;

}

.liHeader a:hover{
  background-color: white;
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.matricula-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.matricula-login a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 10vw;
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(255, 6, 6);
  font-weight: bold;
  border: none;
  text-align: center;
}

.matricula-login a:hover{
background-color: white;
color: rgb(255, 0, 0);
border: 2px solid rgb(255, 0, 0);
}

.matricula-login button{
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 10vw;
  border-radius: 1rem;
  padding: 0.5rem;
  color: rgb(255, 6, 6);
  font-weight: bold;
  border: none;
  background-color: white;
  
}

.matricula-login button:hover{
background-color: white;
color: rgb(255, 0, 0);
border: 2px solid rgb(255, 0, 0);
}

  #titulo{
    margin-bottom: 20px;
  }

  .imagem img{
    width: 13vw;
    height: 20vh;
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 5vw;
    height: 0.5vh;
    margin: 0.3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
  }

  /* ---------------------------------Conheça------------------------------------ */

  
  .conheca{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    background: url(img/imagem-conheca.png
    );
    background-size: cover;
    background-position-x: right;
    margin-bottom: 2rem;

  }

  .informacoes-conheca{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding-left: 1rem;
    background-image: linear-gradient(to right, #ed1a1a, #ed1a1a, #ed1a1a, rgba(255, 255, 255, 0));
    
  }

  .informacoes-conheca h3{
    margin-top: 1rem;
    text-align: center;
  }

  .textos-conheca{
    color: white;
    text-shadow:  10px 5px 5px black;
  }
  .textos-conheca h1{
    color: white;
  }

  .textos-conheca h3{
    width: 40vw;
  }

  .conheca-botao{
    width: 20vw;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: white;
    font-weight: bold;
    border: none;
    
  }

  .conheca-botao:hover{
    color: white;
    border: 2px solid white;
  }

  /* -----------------------------------Principios------------------------------------- */

  .principios h1{
    width: 30vw;
    margin: 0 auto;
    font-size: 2.5rem;
    border-bottom: 2px dotted red;
    border-radius: 2rem;
    margin-top: 1rem; 
    margin-bottom: 2rem;
  }

.card h2{
  text-align: center;
  font-size: 2rem;

}

.container-cards {
display: flex;
justify-content: space-around;
}

.card img{
  width: 30vw;
  height: 50vh;
  border-radius: 2.5rem;
  border: 4px dotted rgb(244, 192, 192);
}

.card {
position: relative;
}

.card:hover .descricao-cards:hover {
opacity: 1;
height: 75%;
top: 2.4rem;
}

.troca:hover{
opacity: 1;
height: 75%;
}

.descricao-cards {
position: absolute;
height: 1vh;
background-color: rgb(255, 216, 216);
opacity: 0;
width: 30vw;
padding: 1rem;
border-radius: 2.5rem;
transition: 0.5s;
top: 0;
}

  /* ------------------------------------Sobre Nos-------------------------------- */

  #sobre-nos h1{
    width: 30vw;
    margin: 0 auto;
    font-size: 2.5rem;
    border-bottom: 2px dotted red;
    border-radius: 2rem;
  }

  .content-2{
    background-color: white;
    height: 100vh;
    position: relative;
  }

  .content-2 .textos-content-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4rem ;

  }

  .content-2 h1{
    text-align: center;
    color: #000;
    z-index: 10;
  }


  .content-2 p:nth-child(1){
     width: 60vw;
     text-align: justify;
     float: right;
     margin-top: 50px;
  }

  .content-2 p:nth-child(1)::after{
    content: "";
    width: 100%;
    height: 0.2rem;
    background: rgb(238, 153, 153);
    display: block;
    margin-top: 1rem;
   
  }

  .content-2 p:nth-child(2){
    width: 50vw;
    text-align: justify;
    align-self: flex-start;
  }

  .content-2 p:nth-child(2)::before{
    content: "";
    width: 100%;
    height: 0.2rem;
    background: rgb(236, 139, 139);
    display: block;
    margin-top: 15vw;

  }
  .content-2 img#ajuda{
    width: 20vw;
    position: absolute;

    z-index: 5;
    margin-top: 3rem;
    margin-left: 7vw;
  }

  .content-2 img#objetivo{  
    width: 20vw;
    position: absolute;
    border-radius: 50%;
    bottom: 10vh;
    right: 12vw;
  } 

  .content, .content-2{
    width: 95%;
    height: 85vh;
    margin: 1rem auto;
    padding: 1rem;
  }

/* --------------------------------Localização------------------------------------ */

.localizacao h1{
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 2px dotted red;
  margin-bottom: 2rem;
}

.localizacao-conteudo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto-localizacao h2{
  text-align: center;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 25vw;
  border-bottom: 2px dotted red;
  margin-bottom: 1rem;
}

.texto-localizacao {
  width: 42vw;
  font-size: 1.2rem;

}

.span-localizacao{
  color: red;
}

.texto-localizacao p{
  text-align: justify;
  margin-left: 5rem;
  margin-right: 5rem;
}

.map{
  margin-right: 5rem;
}

/*  -----------------------------Ambiente Carrossel Manual---------------------------------- */

.ambiente h1{
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 2px dotted red;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ambiente p{
  font-size: 1.2rem;
  text-align: center;
}

.carrossel-manual{
  height: 70vh;
  width: 50vw;
  overflow: hidden;
  margin: 2rem auto;
  border-radius: 1rem;
  position: relative;
}

.carrossel-manual img{
  object-fit: cover;
  height: 70vh;
  width: 50vw;
  
}

#carrossel2{
  display: flex;
  transform: translateX(0);
  transition: 0.4s ease-in;
}

#esquerda, #direita{
  color: black;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;

}

#direita{
  right: 20%;
  bottom: -270%;
}

#esquerda{
  left: 20%;
  bottom: -270%;
}


/* ------------------------------------Professoras-------------------------------- */


#professoras h2{
  text-align: center;
  margin-bottom: 20px;
}

  h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
  }

  .content{
    background-color: #f85f4ed4;
    
  }

  .content h1{
    margin-bottom: 1rem;
  }

  .content img{
    width: 20vw;
    height: 40vh;
    object-fit: cover;
   
  }

  .figuras{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 0 black;
  }

  .figuras h1{
    font-size: 2rem;
    color: black;
    
  }

  .container-figuras {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

/* ----------------------------------------Parallax-------------------------------- */

  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  
  }

  .parallax-2::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom , rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
  }

  .parallax-2 h1{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .parallax-2 h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .parallax-2{
    background-image: url("img/parallax1.avif");
  }


  /* ---------------------------------Segmento------------------------------------ */

  #segmento{
    background-image: linear-gradient(to bottom,#ddf4fc, white ) ;
    padding-top: 1.5rem;
  }

  #segmento h1{
    width: 30vw;
    margin: 0 auto;
    font-size: 2.5rem;
    border-bottom: 2px dotted red;
    border-radius: 2rem;
  }

  .conteudo-segmento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .textos-content-3{
    text-align: justify;
    margin-left: 5rem;
    margin-right: 10rem;
  }

  .imagem-segmentos img{
    margin-left: 10rem;
  }

/* -----------------------------------Eventos------------------------------------ */

#eventos h1{
  width: 30vw;
  margin: 0 auto;
  font-size: 2.5rem;
  border-bottom: 2px dotted red;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

/*  ----------------------------------Carrosel Automatico----------------------------*/

.carrossel-automatico{
  margin: 2rem auto;
  width: 50vw;
  height: 70vh;
  overflow: hidden;
  border-radius: 1rem;
}

.carrossel-automatico img{
  width: 50vw;
  height: 60vh;
  
}

.carrossel1{
  display: flex;
  transform: translateX(0);
  transition: 0.4s ease-in;
}

.carrossel1 h1{
  text-align: center;
}

.carrossel1 h2{
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}




/* ----------------------------------Matricule-se------------------------------- */

.formulario{
   width: 60%;
}

.formulario h1{
  width: 40vw;
  margin: 0 auto;
  font-size: 2.5rem;
  border-bottom: 2px dotted red;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.formulario h2{
  width: 10vw;
  text-align: center;
  border-bottom: 2px dotted red;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.botao-matricula{
  color: white;
  background-color: red;
}


.botao-matricula:hover{
  background-color: white;
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}


.botao-matricula a{
  text-decoration: none;
  color: white;
  
}

.botao-matricula a:hover{
  background-color: white;
  color: rgb(255, 0, 0);
}
/* ---------------------------------Responsavel----------------------------------*/

#h2-responsavel{
  width: 15vw;
  text-align: center;
  border-bottom: 2px dotted red;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

/* ----------------------------------Modal Sanduiche---------------------------------------- */

#fade-sanduiche,#modal-sanduiche{
  opacity: 1;
  transition: 0.4s ease-in;
}

#fade-sanduiche{
  position: fixed;
  top: 0;
  left:0 ;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  
}

#modal-sanduiche{
  position: fixed;
  top: 10vw;
  left: 0;
  z-index: 10;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 50vw;
  height: 50vh;
}

#modal-sanduiche.hide-sanduiche, #fade-sanduiche.hide-sanduiche{
  opacity: 0;
  pointer-events: none;
}

.liHeader-sanduiche{
  list-style: none;
  padding: 0.2rem;
}

.liHeader-sanduiche a{
  text-decoration: none;
  color: red;
}

.liHeader-sanduiche a:hover{
  background-color: white;
  color: rgb(255, 0, 0);
  border-bottom: 2px solid rgb(255, 0, 0);
}

.menu-sanduiche{
  display: none;
  color: red;
  font-size: 1.5rem;
}


/* ----------------------------------Modal Login---------------------------------------- */


#modal-login{
  width: 350px;
  border: none;
  box-shadow: 1px 1px 15px rgba(0,0,0,.7);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  background-color: white;
  position: relative;
}

#modal-login h1{
  font-size: 2rem;
}

#modal-login h1{
  width: 20vw;
  margin: 0 auto;
  font-size: 2rem;
  border: none;
}

#modal-login input{
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #cf2323;
  box-shadow: 1px 1px 10px #ee2a2a;
  outline: none;
  
}

#modal-login button{
  background-color: #a70101;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

#modal-login button:hover{
  background-color: white;
  color: red;
  box-shadow: 1px 1px 10px #ee2a2a;
}

#modal-login input{
  position: relative;
  
}

#fade-login,#modal-login{
  opacity: 1;
  transition: 0.4s ease-in;
}

#fade-login{
  position: fixed;
  top: 0;
  left:0 ;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
}

#modal-login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

#modal-login.hide-login, #fade-login.hide-login{
  opacity: 0;
  pointer-events: none;
}

/* -----------------------------Fale Conosco-------------------------------------- */

.h3faleconosco{
  text-align: center;
  width: 15vw;
  border-bottom: 2px dotted red;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.link-faleconosco{
  color: red;
  text-decoration: none;
}

/* -----------------------------Footer-------------------------------------- */

#footer{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1250e;
  color: white;

}

.contatos-footer{
  width: 30vw;
  height: 50vh;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer h1{
  margin-bottom: 2rem;
  text-align: start;
  color: white;
}

.contatos-footer .informacoes-maps{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.contatos-footer .informacoes-maps a{
  text-decoration: none;
  color: white;
}

.contatos-footer button{
  width: 15vw;  
  height: 5vh;
  border-radius: 0.3rem;
  background-color: red;
  border: none;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;

}

.ancora a{
  text-decoration: none;
  color: white;
}

.ancora h3{
  padding: 1rem;
}

.ancora img{
  height: 30vh;
}

.icones-footer{
  text-align: center;
}

/* ----------------------------------Midia Screen------------------------------------------- */

@media screen and (max-width: 500px) and (max-height: 600px){

/* --------------------------------Header--------------------------------------------- */

  div.contato{
    display: none;
  }

  .menu-sanduiche{
    display: block;
  }

  .imgHeader img{
    width: 20vw;
    margin-right: 8rem;
  }

  nav{
    display: none;
    justify-content: center;
  }

  .matricula-login {
    width: 35vw;
  }

  .matricula-login a, button{
    width: 35vw;
  }

/* --------------------------------Conheça------------------------------------------------- */

  .conheca{
    height: 70vh;
  } 

  .textos-conheca h1{
    font-size: 1.5rem;
  }

  .textos-conheca h3{
    font-size: 1rem;
    text-shadow: none;
  }

/* --------------------------------Principios---------------------------------------------- */

.principios h1{
  width: 60vw;
  margin: 0 auto;
  font-size: 2rem;
}

.card h2{
  font-size: 1.1rem;
  margin: 0.5rem;
}

.card img{
  width: 30vw;
  height: 25vh;
}

.descricao-cards{
  display: none;
}

/* --------------------------------Sobre-nos----------------------------------------------- */

#sobre-nos{
  height: 110vh;
}

#sobre-nos h1{
  width: 50vw;
}

.content-2 img#ajuda, img#objetivo {
  display: none;
}

.content-2 p:nth-child(1){
  width: 90vw;
}

.content-2 p:nth-child(2){
  width: 90vw;
}


/* --------------------------------Localização--------------------------------------------- */

.localizacao h1{
  width: 40vw;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.localizacao-conteudo{
  flex-direction: column;
}

.texto-localizacao h2{
  width: 70vw;
  font-size: 1.5rem;
  border-bottom: none;
}

.texto-localizacao {
  width: 98.8vw;
  font-size: 1.2rem;

}

.texto-localizacao p{
  margin-left: 1rem;
  margin-right: 1rem;

}

iframe{
  width: 80vw;
  height: 40vh;
  margin-left: 5rem;
}

/* --------------------------------Ambiente------------------------------------------------ */

.ambiente h1{
  width: 50vw;
  font-size: 2rem;
}

.carrossel-manual{
  height: 60vh;
  width: 70vw;
}

.carrossel-manual img{
  height: 60vh;
  width: 70vw;
  
}

#direita{
  right: 5%;
  bottom: -300%;
}

#esquerda{
  left: 5%;
  bottom: -300%;
}

/* --------------------------------Professoras--------------------------------------------- */

#professoras h2{
  font-size: 1rem;
}

.content img{
  width: 20vw;
  height: 25vh;
  object-fit: cover;
 
}

.container-figuras {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* --------------------------------Parallax------------------------------------------------ */

.parallax-2 h1{
  font-size: 2.5rem;
}

/* --------------------------------Segmento------------------------------------------------ */

#segmento h1{
  width: 50vw;
  font-size: 2rem;
}

.conteudo-segmento{
  flex-direction: column;
}

.textos-content-3{
  text-align: justify;
  margin: 0 auto;
  padding: 2rem;
}

.imagem-segmentos img{
  width: 40vw;
  margin: 0 auto;
}

/* -------------------------------- Eventos------------------------------------------------- */

#eventos h1{
  width: 40vw;
}

.carrossel-automatico{
  width: 70vw;
  height: 60vh;
}

.carrossel-automatico img{
  width: 70vw;
  height: 40vh;
  
}

.carrossel1 h2{
  font-size: 1.5rem;
}
  
/* -------------------------------- Footer-------------------------------------------------- */

#footer{
  gap: 4rem;

}

.contatos-footer{
  width: 45vw;
  height: 50vh;
  margin-left: 2rem;
}

#footer h1{
  font-size: 2rem;
}

.contatos-footer button{
  width: 35vw;  

}

.ancora h3{
  padding: 0.5rem;
}



.ancora img{
  height: 20vh;
}

.icones-footer{
  text-align: center;
}

/*  --------------------------------Matricule-se-------------------------------------------------- */

.formulario h1{
  width: 50vw;
  font-size: 2rem;
}

.formulario h2{
  width: 20vw;
}

/*  --------------------------------Responsavel-------------------------------------------------- */

#h2-responsavel{
  width: 35vw;
}

/*  --------------------------------Login-------------------------------------------------- */

#modal-login h1{
  width: 30vw;
  font-size: 1.5rem;
}

/* -------------------------------- Fale Conosco-------------------------------------------------- */

.h3faleconosco{
  text-align: center;
  width: 35vw;
}








}